<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sage50Excel13Plugin.Properties.Settings.ConnectionString"
            connectionString="Driver={Pervasive ODBC Client Interface};servername=localhost;dbq=ELASADOR;uid=Peachtree;pwd=admin123"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>